@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
}

h3,
h2,
h1,
p {
  font-family: "DotGothic16", sans-serif;
}

#Set {
  position: absolute;
  right: 50px;
  cursor: pointer;
  top: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: orange;
  font-size: 20px;
  text-decoration: none;
  border-radius: 0;
}

p {
  color: orange;
  background-color: #fff;
  padding: 5px 10px;
  font-weight: 800;
}

.MainCoint {
  background-image: url(/img/394788.png);
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.MainCoint img {
  max-width: 500px;
}

.duck {
  position: absolute;
  left: 0;
  width: 80px;
  -webkit-animation: myfirst 8s;
  animation: myfirst 8s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.CR {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

@-webkit-keyframes myfirst {
  0% {
    left: 0px;
    top: 48%;
  }
  50% {
    right: 00%;
    top: 48%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  80% {
    left: 95%;
    top: 48%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    top: 48%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

@keyframes myfirst {
  0% {
    left: 0px;
    top: 48%;
  }
  50% {
    right: 00%;
    top: 48%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  80% {
    left: 95%;
    top: 48%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    left: 0%;
    top: 48%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

.HomeContainer {
  gap: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.TwoRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.TwoRow a {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: orange;
  background-color: #00ffea;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0 9px orange;
  box-shadow: 0 9px orange;
  font-weight: 800;
  font-family: "DotGothic16", sans-serif;
}

.TwoRow a:hover {
  background-color: orange;
  color: #00ffea;
  -webkit-box-shadow: 0 9px #00ffea;
  box-shadow: 0 9px #00ffea;
}

.TwoRow a:active {
  background-color: orange;
  -webkit-box-shadow: 0 5px #00ffea;
  box-shadow: 0 5px #00ffea;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.TwoCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.TwoCol .BestS {
  font-size: 30px;
}

.Loader {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  -webkit-animation-name: loader;
  animation-name: loader;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  overflow: hidden;
  z-index: 99;
}

@-webkit-keyframes loader {
  0% {
    height: 100vh;
    background-color: orange;
  }
  100% {
    height: 0px;
    background-color: #00ffea;
  }
}

@keyframes loader {
  0% {
    height: 100vh;
    background-color: orange;
  }
  100% {
    height: 0px;
    background-color: #00ffea;
  }
}

.SetBanner {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99;
  top: 50%;
  opacity: 0%;
  gap: 30px;
  left: 100%;
  border-radius: 10px;
  height: 700px;
  -webkit-box-shadow: 0 9px orange;
  box-shadow: 0 9px orange;
  text-align: center;
  padding: 50px;
  background-color: black;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

.SetBanner p {
  background-color: rgba(255, 255, 255, 0);
}

.Inst {
  width: 300px;
}

.SetClose {
  position: absolute;
  top: 10px;
  right: 10px;
}

.SetClose i {
  font-size: 50px;
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */
